{{ ansible_managed | comment }}

{%- macro print_config_block(configKey, configValues) -%}
[{{- configKey | to_pascal_case -}}]
{% for key, _value in configValues.items() -%}
{%- set value = _value -%}
{%- if value is boolean -%}
  {%- set value = 'yes' if _value else 'no' -%}
{%- endif -%}
{%- if value is iterable and value is not string and (value | length) > 0 -%}
    {%- for item in value %}
{{ key | to_pascal_case }}={{ item }}
{% endfor -%}
{% else %}
{{ key | to_pascal_case }}={{ value }}
{% endif %}
{% endfor %}
{%- endmacro %}

{% for configKey, _configValues in network_config.items() -%}
{%- if _configValues is iterable and _configValues is not mapping and (_configValues | length) > 0 -%}
{%- for configValues in _configValues %}
{{ print_config_block(configKey, configValues) }}
{% endfor %}
{% else -%}
{{ print_config_block(configKey, _configValues) }}
{% endif -%}
{% endfor %}
