#!/bin/sh
[ $(id -u) -eq 0 ] || exec sudo $0 $@

set -x

ip link show 2>/dev/null | grep 'cilium' | while read ignore iface ignore; do
    iface=${iface%%@*}
    [ -z "$iface" ] || ip link delete $iface
done

rm -rf /var/run/cilium

iptables-save | grep -v cilium | grep -v CILIUM | iptables-restore
