{{ ansible_managed | comment }}

SOURCE_PATH="{{ source }}"
DESTINATION_PATH="{{ destination }}"
COPY_ARGS="{{ copy_args | default('') }}"
ALLOW_DIRECTORIES="{{ '1' if copy_directories | default(false) else '0' }}"
ALLOW_DELETE="{{ '1' if allow_delete | default(false) else '0' }}"
ALLOW_HARDLINKS="{{ '1' if allow_hardlinks | default(false) else '0' }}"
VERBOSITY="{{ verbosity }}"
{% if inotify_events != '' %}
EVENTS="{{ inotify_events | join(',') if inotify_events is not string else inotify_events }}"
{% endif %}
{% if inotify_args != '' %}
INOTIFY_ARGS="{{ inotify_args | join(',') if inotify_args is not string else inotify_args }}"
{% endif %}
